
#poly{
    display: none ;
}



.heading h1{
    text-align: center;
}

.intro{
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}



/* polygon page */

#poly{
    
    margin-top: 20px;
    margin-bottom: 20px;
}
