<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- NAVBAR -->
    {% include "components/navbar.html" %}
    <!-- END NAVBAR -->


    <section>
        <div class="container">
            <div class="inputform">
                <form action="">
                    <div class="form-group">

                        <label>Enter x cordinates</label>
                        <input type="input" class="form-control" id="xcord"
                            placeholder="Enter x cordinates of polygon you want to plot">

                    </div>
                    <div class="form-group">

                        <label>Enter x cordinates</label>
                        <input type="input" class="form-control" id="ycord"
                            placeholder="Enter y cordinates of polygon you want to plot">

                    </div>


                    <button type="submit" class="btn btn-primary">Plot</button>
                </form>


            </div>






    </section>


</body>

</html>